.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

//   .example-sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//   }

.example-sidenav {
  padding: 20px;
}

.cls-style-title-menu {
  height: 44px;
  display: flex;
  align-items: center;
}

.cls-style-item-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cls-color-icons {
  color: #f7e987;
}
