<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer style="background-color: #445069;" class="example-sidenav" mode="side">
    <div class="cls-style-title-menu">
      <span class="cls-color-icons" style="font-size: 40px;">
        Menú
      </span>
    </div>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="cls-style-item-menu cls-color-icons"><mat-icon> table_chart</mat-icon><span>Bodegas</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" (click)="openDialogPermiss()">
        <div class="cls-style-item-menu cls-color-icons"><mat-icon>verified_user</mat-icon><span>Permisos</span>
        </div>
      </mat-list-item>
    </mat-list>

  </mat-drawer>

  <div class="example-sidenav-content" style="height: 90vh; width: 100%;">
    <p style="margin-bottom: 76px;">
      <!--  -->
      <mat-toolbar style="background-color: #252B48">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> -->
        <mat-icon class="cls-color-icons" (click)="drawer.toggle()">menu</mat-icon>
        <!-- </button> -->
        <span style="color: #5B9A8B; width: 100%;
        display: flex;
        justify-content: center;">APP entrega de Prueba Técnica Controlsoft 21/08/2023</span>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
        <!-- <mat-icon style="color: #F7E987">favorite</mat-icon> -->
        <mat-icon class="cls-color-icons" (click)="sendLink()" style="font-size: 31px;">gif</mat-icon>
        <!-- </button> -->
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
        <!-- <mat-icon style="color: #F7E987">share</mat-icon> -->
        <!-- </button> -->
      </mat-toolbar>
    </p>

    <div>
      <router-outlet></router-outlet>

    </div>
  </div>

</mat-drawer-container>